<ion-content class="ion-padding not-found-page background">
  <!-- Contenedor de la imagen de Mike -->

  <!-- Título, cambia según el estado del primer contador -->
  <h2 class="not-found-title animate-text">
    {{ countdown > 0 ? "¡Oops! Página en construcción." : "¿Qué haces aquí aún?" }}
  </h2>
  
  <!-- Primer Contador, visible mientras countdown sea mayor que 0 -->
  <p *ngIf="countdown > 0" class="not-found-text">
    Pulsa el botón para regresar al inicio. {{ countdown }}
  </p>

  <!-- Segundo Contador, visible solo cuando countdown es 0 -->
  <p *ngIf="countdown === 0 && countdownSecond > 0" class="not-found-text second-counter">
    Redireccionándote en... {{ countdownSecond }}
  </p>

  <!-- Botón para redirigir a la página principal -->
  <ion-button expand="full" color="light" routerLink="/login" class="small-button">
    Regresar.
  </ion-button>

  <div class="image-container" [class.explosion]="showExplosion">
    <img [src]="mikeImage" alt="Mike Confundido" class="mike-animate" id="mikeImage">
  </div>
</ion-content>
