<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listar-emprendimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">listar-emprendimiento</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let emprendimiento of emprendimientos">
      <ion-label>
        <h2>{{ emprendimiento.nombre }} {{ emprendimiento.apellido }}</h2>
        <p>{{ emprendimiento.descripcion }}</p>
        <p>{{ emprendimiento.correo }}</p>
        <p>{{ emprendimiento.fecha }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
