<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-header" color="primary">
    <!-- Aquí se muestra el botón de retroceso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/eliminar" (click)="irAinicio()"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-title">Amigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-friends">
  <ion-list>
    <ion-item *ngFor="let f of perfiles; let i = index" [routerLink]="['/listar',f.id]" [state]="{userId2: userId2}" class="friend-item">
      <!-- Avatar circular al lado del nombre -->
      <ion-avatar slot="start">
        <img [src]="f.img_perf" alt="Avatar de {{ f.apodo || 'Usuario desconocido' }}">

      </ion-avatar>
      <ion-label>
        <h2>{{ f.apodo }}</h2>
      </ion-label>
      <ion-icon name="chatbubble-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
