<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agregar-emprendimiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">agregar-emprendimiento</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="emprendimientoForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input formControlName="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha</ion-label>
      <ion-datetime formControlName="fecha"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input formControlName="correo" type="email"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="emprendimientoForm.invalid">
      Guardar Emprendimiento
    </ion-button>
  </form>
</ion-content>
