ion-content.background{
    --background: url(/assets/images/fondoperfil.jpeg) 0 0/100% 100% no-repeat;
  }

  .photo-card {
    text-align: center;
  }
  
  .photo-image {
    max-width: 100%;
    height: auto;
  }
  
  ion-button {
    margin: 2px;
  }

  ion-card {
    text-align: center;

  }

 