<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="irAinicio()"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" class="background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">agregar</ion-title>
      
    </ion-toolbar>
  </ion-header>

    <ion-card class="photo-card">
      <ion-card-content>
        <img [src]="image" *ngIf="image" class="photo-img">
      </ion-card-content>

      <ion-card-content>
        <ion-button expand="block" (click)="takePicture()">Tomar otra foto</ion-button>
        <ion-button expand="block">Guardar foto</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>

