<ion-header>
  <ion-toolbar>
    <ion-title>Menú</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-buttons>
    <ion-button (click)="cerrarModal()">Acerca de Nosotros</ion-button>
    <ion-button (click)="cerrarModal()">Configuración</ion-button>
    <ion-button (click)="cerarSesion()">Cerrar Sesión</ion-button>
  </ion-buttons>
  </ion-list>
</ion-content>
