ion-content.background{
  --background: url(/assets/images/fondoperfil.jpeg) 0 0/100% 100% no-repeat;
}


ion-card-title {
  color: black;
}

ion-input {
  color: rgb(4, 17, 17);
}

.option-button {
  height: 100%;
  width: 100%;
  --padding-start: 0;
  --padding-end: 0;
}

.subtitulo-container {
display: flex;
justify-content: center;
align-items: center;
gap: 10px; /* Espacio entre el icono y el subtítulo */
margin-bottom: 20px;
}

.custom-modal .modal-wrapper {
height: 75%;
width: 75%; /* Ancho del modal */
position: bottom;
left: 0;
top: 0;
bottom: 0;
background: white;
box-shadow: 2px 0 10px rgba(180, 38, 38, 0.3);
}

.titulo-container {
  margin-top: -5px; /* Separación desde el elemento superior */
}


.custom-subtitle {
  font-family: 'Poppins', 'Arial', sans-serif; /* Fuente moderna y legible */
  font-size: 1.4rem; /* Aumentar el tamaño para mejor visibilidad */
  font-weight: 400; /* Hacer el texto más fuerte pero no demasiado */
  text-align: center;
  color: #fefefe; /* Un color más oscuro para mejor contraste */
  margin: 0;
  padding: -40px 0; /* Añadir un poco de padding superior e inferior */
  line-height: 1.5;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2); /* Añadir sombra para más profundidad */
}

.image {
  transform: translateY(5vh);
  ion-avatar {
      width: 25vh;
      height: 25vh;
      border: 3px solid var(--ion-color-primary);
      padding: 0.8vh;
      margin-bottom: 6vh;
      }
 }

 ion-item.profile {
  --ion-background-color: transparent !important; /* Fondo transparente */
  background-color: transparent !important; /* Asegura que sea transparente */
}

ion-item.profile ion-label {
  font-size: 1.5rem;
  font-weight: 600;
}

ion-item.profile ion-label p {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
}

ion-card.options {
  position: absolute;
  width: 80%;
  margin: auto;
  top: 40px;
  left: 50%;
  transform: translateY(48vh) translateX(-50%);
  background-color: var(--ion-color-favorite); /* Aplica el color de fondo directamente */
  border-radius: 30px;
  ion-row {
    padding-bottom: 1.5vh;
    ion-col {
      margin-top: 15px;
        ion-label {
          text-align: -webkit-center;
          letter-spacing: 0.5px;
      ion-avatar {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 4vh;
          height: 4vh;
          background-color: var(--ion-color-light);
          border-radius: 50%;
          ion-icon {
              font-size: 1.3rem;
          }
          }
          p {
            margin-top: 5px;
            ion-text {
              font-size: 0.78rem;
              font-weight: 550;
          }
        } 
    }
  }
}
}

.borderBottom {
  border-bottom: 1px solid var(--ion-color-light);
}

.paddingTop {
  padding-top: 1.5vh;
}

.profile-content {
  background: var(--ion-color-dark);
  border-radius: 25px;
  padding-bottom: 18vh;
}

