<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="titulo-container">
      <h2 class="custom-subtitle">¡Bienvenido/a otra vez!</h2>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">

  <ion-card class="profile-content">
    <div align="center" class="image">
      <ion-avatar>
        <img [src]="imgPerf" alt="Imagen de perfil">
      </ion-avatar>
    </div>

    <ion-item lines="none" class="profile">
      <ion-label class="ion-text-center">
        <ion-text color="primary">{{nombreUsuario}}</ion-text>
        <p>
          <ion-text color="light">Ing en Informática</ion-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-card class="options">
      <!-- Use *ngFor to iterate through rows -->
      <ion-row *ngFor="let row of getRows(); let i = index"
        class="ion-margin"
        [ngClass]="{
          'borderBottom': ((i + 1) * 3) < options.length,
          'paddingTop': i == 0
        }">
        
        <!-- Inner ngFor for each item in the row -->
        <ion-col *ngFor="let item of row" size="4" class="option-column">
          <div class="option-content">
            <ion-avatar
             [style.background]="'var(--ion-color-' + (item.background || 'light') + ')'">
             <ion-icon [color]="item.color" [name]="item.icon"></ion-icon>
            </ion-avatar>
            <p>
              <ion-text color="dark">{{ item?.title }}</ion-text>
            </p>
          </div>
          <!-- Invisible button for the modal trigger -->
          <ion-button fill="clear" (click)="abrirModal()" class="invisible-button"></ion-button>
        </ion-col>
      </ion-row>
    </ion-card>



<!-- Navbar con íconos -->
<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
  
    <ion-tab-button (click)="irActualizar()">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/editar-perfil']">
      <ion-icon name="bug"></ion-icon>
      <ion-label>Testing</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="irAperfil()" >
      <ion-icon name="person"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="irAcamara()">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Fotos</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="'/login'" (click)="exit()">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


