<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>inicio</ion-title>
    <!-- Botón de menú en la esquina superior derecha -->
    <ion-buttons slot="end">
      <ion-button (click)="abrirModal()">Menu</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
      <!-- Botón de menú también en la vista colapsada -->
      <ion-buttons slot="end">
        <ion-button (click)="abrirModal()">Menu</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <div class="titulo-container">
    <ion-icon name="heart" class="subtitle-icon"></ion-icon>
    <h2 class="custom-subtitle">¡Bienvenido/a {{ nombreUsuario }}!</h2>
    <ion-icon name="heart" class="subtitle-icon2"></ion-icon>
  </div>
</ion-content>

<!-- Navbar con íconos -->
<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="busqueda">
      <ion-icon name="search"></ion-icon>
      <ion-label>Búsqueda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracion">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
