.profile-page-content {
  --background: white;
  text-align: center;
}

.background-container {
  width: 100%;
  height: 200px; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-container {
  position: relative;
  margin-top: -80px; /* Esto ajusta el avatar hacia arriba sobre la imagen de fondo */
  z-index: 1;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border: 5px solid #cfa4e5;
  border-radius: 50%;
  margin: 0 auto;
}

.profile-container h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.profile-container p {
  color: grey;
  font-size: 1rem;
}


.stats-grid {
  margin-top: -2px;
}

.stat-col ion-text {
  margin-top: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--ion-color-light);
}

.stat-col p {
  font-size: 1rem;
  color: var(--ion-color-favorite);
  margin: 0;
}


ion-card {
  --ion-background-color: #f0f0f0;
  --ion-border-color: #141010;
}

ion-item {
  --ion-padding-start: 20px;
}


.info-title {
  background-color: #760dab; /* Fondo morado */
  color: rgb(255, 255, 255); /* Texto en blanco para contraste */
  text-align: center;
  
}

.info-item {
  background-color: #dedddecf; /* Fondo más claro para los ítems */
  --ion-background-color: transparent; /* Elimina colores de fondo predeterminados */
}

.info-item ion-label {

  color: #000000; /* Texto gris */
}

.info-item ion-text {
  color: #000000; /* Texto oscuro */
}

ion-card-title {
  color: #020202
 

}

.photos-card {
  margin-top: 20px;
}

.photos-row {
  justify-content: center;
  margin-top: -24px;
  margin-bottom: -5px;
  background-color: #000000;
  margin-left: -5px;
  margin-right: -5px;
}

.photo-img {
  width: 100%;
  height: 150px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Asegura que la imagen se recorte correctamente */
  border-radius: 10px;
}



.publi-label h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.publi-label p {
  font-size: 1rem;
  color: #6e6e6e;
}

.post-date {
  font-size: 0.8rem;
  color: #a6a6a6;
  margin-top: -10px;
}



ion-card {
  margin-bottom: 20px;
}

ion-card-content {
  padding: 15px;
}

ion-avatar {
  width: 30px;
  height: 30px;
}

h2 {
  margin-left: 40px;
  margin-top: -33px;
}

.post-interactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.interaction-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  flex: 1; /* Cada opción tomará el mismo espacio */
  text-align: center; /* Asegura que el texto esté centrado bajo el ícono */
}

.interaction-option ion-icon {
  font-size: 1.2rem;
}

.navb {
  position:relative;
  margin-bottom: 50px;
}

.publi-card {
  background-color: #222428;
  margin-top: -20px;
}